<div class="profile-container">
  <div class="main-photo-container">
    <img
      ngSrc="/assets/about-me.webp"
      alt="Юлія Поддяча"
      class="profile-photo"
      width="300"
      height="472"
      priority
    />
  </div>

  <section class="profile-content">
    <h1 class="profile-name">Поддяча Юлія Юріївна</h1>

    <div class="info-container">
      <div class="profile-header">
        <h1 class="profile-name profile-name--sm">Поддяча Юлія Юріївна</h1>

        <p class="profile-title">Адвокат з пенсійних справ</p>

        <p
          style="
            background-color: var(--color-green);
            width: fit-content;
            margin-left: -1.7rem;
            padding: 0 1rem;
            color: white;
          "
        >
          Про мене
        </p>
      </div>

      <ul class="qualification-list">
        <li class="qualification-item">
          <img
            class="qualification-item-icon"
            src="assets/icons/nlu-logo.webp"
            alt="nlu-logo"
          />

          Закінчила найкращий юридичний університет в Україні - Національний
          юридичний університет імені Ярослава Мудрого
        </li>

        <li class="qualification-item">
          <img
            class="qualification-item-icon"
            src="assets/icons/law-logo.png"
            alt="nlu-logo"
          />

          10+ років досвіду роботи у сфері права
        </li>

        <li class="qualification-item">
          <img
            class="qualification-item-icon"
            src="assets/icons/pfu_logo.png"
            alt="pfu-logo"
          />

          4 роки працювала в органах Пенсійного фонду України
        </li>

        <li class="qualification-item">
          <img
            class="qualification-item-icon"
            src="assets/icons/unba-logo.png"
            alt="nlu-logo"
          />

          Отримала свідоцтво адвоката в 2021 році
        </li>
      </ul>
    </div>

    <div class="buttons-container">
      <!-- <button mat-flat-button color="primary">Біографія</button> -->
      <a routerLink="/services" mat-flat-button color="primary">Послуги</a>

      <a routerLink="/documents" mat-flat-button color="primary">Документи</a>
    </div>
  </section>
</div>
