<div class="profile-container">
  <img
    src="/assets/Yuliia-photo.jpg"
    alt="Юлія Поддяча"
    class="profile-photo"
  />

  <section class="profile-content">
    <p class="profile-name">Поддяча Юлія Юріївна</p>

    <div class="info-container">
      <div class="profile-header">
        <p class="profile-title">Адвокат з пенсійних справ</p>

        <p
          style="
            background-color: var(--color-green);
            width: fit-content;
            margin-left: -1.7rem;
            padding: 0 1rem;
            color: white;
          "
        >
          Про мене
        </p>
      </div>
      <ul class="qualification-list">
        <li class="qualification-item">
          <img
            class="qualification-item-icon"
            src="assets/icons/nlu-logo.webp"
            alt="nlu-logo"
          />

          Закінчила найкращий юридичний університет в Україні - Національний
          юридичний університет імені Ярослава Мудрого
        </li>

        <li class="qualification-item">
          <img
            class="qualification-item-icon"
            src="assets/icons/law-logo.png"
            alt="nlu-logo"
          />

          9+ років досвіду роботи у сфері права
        </li>

        <li class="qualification-item">
          <img
            class="qualification-item-icon"
            src="assets/icons/pfu_logo.png"
            alt="pfu-logo"
          />

          4 роки працювала в органах Песійного фонду України
        </li>

        <li class="qualification-item">
          <img
            class="qualification-item-icon"
            src="assets/icons/unba-logo.png"
            alt="nlu-logo"
          />

          Отримала свідоцтво адвоката
        </li>
      </ul>
    </div>
  </section>
</div>
