:host {}

.profile-container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 1rem 2rem;
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.profile-photo {
  border-radius: 5%;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile-content,
.profile-photo {
  flex: 1;
  width: 50%;
}

.info-container {
  background-color: #edeeef;
  box-shadow: rgba(0, 39, 6, 0.4) 0px 0px 0px 2px, rgba(0, 39, 6, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 1rem 1.5rem;
  margin: 0 auto;
}

.profile-header {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.profile-name {
  font-size: 2.5rem;
  font-family: var(--font-heading);
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.profile-title {
  color: #000000a1
}

.qualification-list {
  font-size: 1.3rem;
  margin: 0 auto;
}

.qualification-item {
  display: flex;
  gap: 0.5rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  position: relative;
}

.qualification-item-icon {
  top: -3px;
  left: -3rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  margin: 1rem auto;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  box-shadow: rgba(0, 39, 6, 0.4) 0px 0px 0px 2px, rgba(0, 39, 6, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  border-radius: 0.25rem;
  box-shadow: rgba(0, 39, 6, 0.4) 0px 0px 0px 2px, rgba(0, 39, 6, 0.65) 0px 2px 3px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.button:active {
  transform: scale(0.95);
  box-shadow: rgba(0, 39, 6, 0.4) 0px 0px 0px 2px, rgba(0, 39, 6, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.button-primary {
  background-color: var(--color-green);
  color: #edeeef;
}

.button-secondary {
  color: var(--color-green);
}