<section class="blog-preview-section-bg">
  <div class="blog-preview-section">
    <h2>Публікації</h2>

    <div class="blog-preview-cards">
      @for (blog of recentBlogs(); track blog.slug) {
        <article class="blog-preview-card">
          <mat-icon class="blog-preview-decoration-icon">description</mat-icon>
          <a [routerLink]="['/blog', blog.slug]">
            <div class="blog-preview-content">
              <h3>{{ blog.title }}</h3>
              @if (blog.description) {
                <p class="blog-preview-description">{{ blog.description }}</p>
              }
              <time class="blog-preview-date" [attr.datetime]="blog.date">
                {{ blog.date | date: 'dd.MM.yyyy' }}
              </time>
            </div>
            <mat-icon class="blog-preview-arrow">arrow_forward</mat-icon>
          </a>
        </article>
      }
    </div>

    <div class="blog-preview-more-container">
      <a routerLink="/blog" class="blog-preview-more-button">
        Усі публікації
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </div>
  </div>
</section>
