<section class="blog-preview-section-bg">
  <div class="blog-preview-section">
    <div class="section-header">
      <h2>Корисні публікації з пенсійних питань</h2>
      <p class="section-intro">
        Тут я публікую роз'яснення щодо пенсійного законодавства, змін у
        правилах призначення пенсій та практичні поради для захисту пенсійних
        прав.
      </p>
    </div>

    <div class="blog-cards">
      @for (blog of recentBlogs(); track blog.slug) {
        <article class="blog-card">
          <mat-icon class="blog-card-bg-icon">article</mat-icon>
          <a [routerLink]="['/blog', blog.slug]">
            <div class="blog-card-content">
              <h3>{{ blog.title }}</h3>
              @if (blog.description) {
                <p class="blog-description">{{ blog.description }}</p>
              }
              <time class="blog-date" [attr.datetime]="blog.date">
                {{ blog.date | date: 'dd.MM.yyyy' }}
              </time>
            </div>
            <mat-icon class="blog-arrow">arrow_forward</mat-icon>
          </a>
        </article>
      }
    </div>

    <div class="blog-cta">
      <a routerLink="/blog/" appCtaOutlineButton>
        Переглянути всі публікації
      </a>
    </div>
  </div>
</section>
