<div class="contact-container">
  <div class="contact-info">
    <div class="left-content">
      <div class="center-content">
        <h2 class="center-content-title">Контакти адвоката</h2>

        <h2 class="center-content-value">Поддячої Юлії Юріївни</h2>
      </div>
    </div>

    <div class="contact-info-links-container">
      <a
        class="contact-info-item-container"
        href="mailto:yuliapoddyacha@gmail.com"
        target="_blank"
      >
        <p class="contact-info-item-header">
          E-mail
          <mat-icon class="new-window-icon"> open_in_new </mat-icon>
        </p>
        <p class="contact-info-item-value">yuliapoddyacha&#64;gmail.com</p>
      </a>

      <a
        class="contact-info-item-container"
        href="tel:+380999426056"
        target="_blank"
      >
        <p class="contact-info-item-header">
          Телефон
          <mat-icon class="new-window-icon"> open_in_new </mat-icon>
        </p>

        <p class="contact-info-item-value">+38 (099) 942-60-56</p>
      </a>

      <a
        class="contact-info-item-container"
        href="tel:+380999426056"
        target="_blank"
      >
        <p class="contact-info-item-header">
          Viber
          <mat-icon class="new-window-icon"> open_in_new </mat-icon>
        </p>
      </a>

      <a
        class="contact-info-item-container"
        href="tel:+380999426056"
        target="_blank"
      >
        <p class="contact-info-item-header">
          Telegram
          <mat-icon class="new-window-icon"> open_in_new </mat-icon>
        </p>
      </a>

      <a
        class="contact-info-item-container"
        href="tel:+380999426056"
        target="_blank"
      >
        <p class="contact-info-item-header">
          Whatsapp
          <mat-icon class="new-window-icon"> open_in_new </mat-icon>
        </p>
      </a>
    </div>
  </div>

  <div class="consultation-container">
    <button
      class="consultation-btn"
      mat-fab
      extended
      (click)="openContactForm()"
    >
      <mat-icon style="overflow: visible">balance</mat-icon>
      Заявка на консультацію
    </button>
  </div>

  <!-- <div class="feedback-form">
    <h2>Зворотній звʼязок</h2>

    <form autocomplete="on">
      <mat-form-field appearance="outline">
        <mat-label>Обреріть варіант</mat-label>

        <mat-select>
          <mat-option value="пенсіонер">Я пенсіонер </mat-option>

          <mat-option value="збираюсь на пенсію">
            Я збираюсь на пенсію
          </mat-option>

          <mat-option value="інше"> Інше </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Вид пенсії</mat-label>

        <mat-select>
          <mat-option value="Пенсіонер">За віком</mat-option>

          <mat-option value="Пенсіонер">За вислугу років</mat-option>

          <mat-option value="Пенсіонер">
            За списком № 1 / списком № 2
          </mat-option>

          <mat-option value="Пенсіонер">По інвалідності</mat-option>

          <mat-option value="Пенсіонер"> По втраті годувальника </mat-option>

          <mat-option value="Пенсіонер">
            Інший вид пенсії (вказати в повідомленні)
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="name">Імʼя</mat-label>

        <input
          matInput
          type="text"
          id="name"
          name="name"
          autocomplete="name"
          placeholder="Іван Іванович"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="phone">Номер телефону</mat-label>

        <input
          matInput
          type="tel"
          id="phone"
          name="phone"
          autocomplete="tel"
          placeholder="050-12-34-567"
          autocomplete="tel"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="message">Повідомлення</mat-label>

        <textarea
          id="message"
          name="message"
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          placeholder="Коротко опишить питання з яким Ви хочете звернутися до адвоката"
        ></textarea>
      </mat-form-field>

      <button class="submit-btn" type="submit" mat-flat-button color="primary">
        Надіслати
      </button>
    </form>
  </div> -->
</div>
