<!-- <header>
  <h1>ПЕНСІЙНИЙ АДВОКАТ (ЮРИСТ). БЕЗКОШТОВНА КОНСУЛЬТАЦІЯ!</h1>
</header>

<main class="services-grid">
  <div class="service-box">
    <div class="service-title">
      <div class="icon-container">
        <img class="icon" src="assets/icons/law-svgrepo-com.svg" />
      </div>
      <h2>Ви збираєтеся на пенсію?</h2>
    </div>
    <div class="service-description">
      <p>
        проконсультуємо, допоможемо зібрати всі необхідні документи, проведемо
        максимально вигідний розрахунок пенсії, оформимо пенсію і проконтролюємо
        весь процес її призначення.
      </p>
    </div>
    <div class="contact-link">
      <a href="#">Зв'яжіться з нами <span class="arrow">›</span></a>
    </div>
  </div>

  <div class="service-box">
    <div class="service-title">
      <div class="icon-container">
        <img class="icon" src="assets/icons/law-svgrepo-com.svg" />
      </div>
      <h2>Ви вже пенсіонер і Вам цікаво:</h2>
    </div>
    <div class="service-description">
      <p>
        як розрахована Ваша пенсія, чи можна її збільшити, чи враховані всі
        періоди стажу, які невигідні періоди заробітків можливо виключити, який
        перерахунок пенсії найбільш вигідний для Вас.
      </p>
    </div>
    <div class="contact-link">
      <a href="#">Зв'яжіться з нами <span class="arrow">›</span></a>
    </div>
  </div>

  <div class="service-box">
    <div class="service-title">
      <div class="icon-container">
        <img class="icon" src="assets/icons/law-svgrepo-com.svg" />
      </div>
      <h2>
        Вам потрібна кваліфікована юридична допомога пенсійного адвоката
        (юриста):
      </h2>
    </div>
    <div class="service-description">
      <p>
        з питань призначення / перерахунку пенсії; переходу з одного виду пенсії
        (військової, за вислугою, наукової, чорнобильської, пенсії державного
        службовця) на пенсію за віком із застосуванням нової середньої
        заробітної плати по країні за три попередні роки; оформлення та
        відновлення пенсій переселенців.
      </p>
    </div>
    <div class="contact-link">
      <a href="#">Зв'яжіться з нами <span class="arrow">›</span></a>
    </div>
  </div>

  <div class="service-box">
    <div class="service-title">
      <div class="icon-container">
        <img class="icon" src="assets/icons/law-svgrepo-com.svg" />
      </div>
      <h2>Консультації адвоката (юриста) з пенсійних справ та питань:</h2>
    </div>
    <div class="service-description">
      <p>
        за віком, пільгова, вислуга років, північна, чорнобильська пенсія та
        ін., отримання документів, довідок у роботодавця, в Пенсійному фонді,
        архівах, за кордоном.
      </p>
    </div>
    <div class="contact-link">
      <a href="#">Зв'яжіться з нами <span class="arrow">›</span></a>
    </div>
  </div>
</main> -->
