<div class="profile-container">
  <img
    src="/assets/Yuliia-photo.jpg"
    alt="Юлія Поддяча"
    class="profile-photo"
  />

  <section class="profile-content">
    <div class="profile-header">
      <p class="profile-name">Поддяча Юлія Юріївна</p>
      <p class="profile-title">Адвокат з пенсійних справ</p>
    </div>

    <ul class="qualification-list">
      <li class="qualification-item">
        закінчила найкращий юридичний університет в Україні - <br />
        Національний юридичний університет імені Ярослава Мудрого
      </li>

      <li class="qualification-item">9+ років досвіду роботи у сфері права</li>

      <li class="qualification-item">
        4 роки працювала в органах Песійного Фонду України
      </li>

      <li class="qualification-item">отримала свідотсво Адвоката</li>
    </ul>
  </section>
</div>
