<main class="main-container">
  <section class="description-container">
    <h1 class="description-title">
      Я - адвокат з пенсійних питань з багаторічним досвідом роботи у сфері
      пенсійного права
    </h1>

    <div class="description-text-container">
      <p>
        Надаю дистанційно допомогу з пенсійних питань громадянам України, які
        проживають в Україні, так і за кордоном
      </p>
      <p>
        Роблю розрахунки різних видів стажу: загального, спецстажу, ПІЛЬГОВОГО
        (у різних його варіантах)
      </p>
      <p>Займаюся оформленням пенсії БЕЗ ВАШОЇ ПРИСУТНОСТІ в органах ПФУ !</p>
    </div>
  </section>

  <div class="main-photo-container">
    <img
      class="main-photo"
      ngSrc="assets/main_photo_lower_size copy.webp"
      width="300"
      height="563"
      priority
    />
  </div>
</main>
