:host {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
/* grey-marble-column-details-building.webp */

.main-container {
  display: flex;
  align-items: center;

  background-image: url('/assets/grey-marble-column-details-building.webp');
  background-size: cover; /* зображення покриває всю секцію */
  background-position: center; /* фокус по центру */
  background-repeat: no-repeat; /* не повторюється */
  background-attachment: scroll; /* або fixed для паралаксу */
  position: relative;
  z-index: 1;
  border-radius: 2rem;
}

.main-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    109.6deg,
    rgba(204, 228, 247, 0.9) 11.2%,
    rgba(237, 246, 250, 0.9) 100.2%
  ); /* світлий прозорий шар для читабельності тексту */
  z-index: -1;
  filter: blur(px); /* розмиття фону */
}

.description-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding: 0 1rem;
}

.main-photo-container {
  flex: 1;
  overflow: hidden;
}

.main-photo {
  min-width: 400px;
  overflow: hidden;
}

@media (max-width: 1919px) {
}

@media (max-width: 1535px) {
}

@media (max-width: 1279px) {
}

@media (max-width: 1023px) {
  .description-container {
    flex: 0;
  }

  .main-container {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 479px) {
}

@media (max-width: 320px) {
}
