<section class="nav-container">
  <nav class="navbar">
    @for (navItem of navItems; track navItem.route) {
      <li>
        <a
          [routerLink]="navItem.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: navItem.exact || false }"
          (click)="onLinkClick.emit()"
        >
          {{ navItem.label }}
        </a>
      </li>
    }
  </nav>

  <div class="social-icons">
    @for (iconData of socialMediaIconsData(); track iconData) {
      <app-social-icon-link
        iconColor="#fff"
        [iconData]="iconData"
        [iconStyles]="{
          width: '2rem',
          height: '2rem',
          backgroundColor: 'transparent',
          borderRadius: '0',
          padding: '0.3rem',
        }"
      />
    }
  </div>
</section>
