<section class="nav-container">
  <nav class="navbar">
    <li>
      <a routerLink="main" routerLinkActive="active">Головна</a>
    </li>

    <li>
      <a routerLink="about-me" routerLinkActive="active">Про мене</a>
    </li>

    <li>
      <a>Послуги</a>
    </li>

    <li>
      <a routerLink="documents" routerLinkActive="active">Мої документи</a>
    </li>

    <li>
      <a>Блог</a>
    </li>

    <li>
      <a routerLink="contacts" routerLinkActive="active">Контакти</a>
    </li>
  </nav>
</section>
