<section class="nav-container">
  <nav class="navbar">
    <li>
      <a
        routerLink="main"
        routerLinkActive="active"
        (click)="onLinkClick.emit()"
      >
        Головна
      </a>
    </li>

    <li>
      <a
        routerLink="about-me"
        routerLinkActive="active"
        (click)="onLinkClick.emit()"
      >
        Про мене
      </a>
    </li>

    <li>
      <a
        routerLink="services"
        routerLinkActive="active"
        (click)="onLinkClick.emit()"
      >
        Послуги
      </a>
    </li>

    <li>
      <a
        routerLink="documents"
        routerLinkActive="active"
        (click)="onLinkClick.emit()"
      >
        Мої документи
      </a>
    </li>

    <li>
      <a
        routerLink="blog"
        routerLinkActive="active"
        (click)="onLinkClick.emit()"
      >
        Блог
      </a>
    </li>

    <li>
      <a
        routerLink="contacts"
        routerLinkActive="active"
        (click)="onLinkClick.emit()"
      >
        Контакти
      </a>
    </li>
  </nav>

  <a class="contacts" href="tel:+380999426056" target="_blank">
    <app-social-icon-link [iconData]="phoneData()"></app-social-icon-link>
    +38 (099) 942-60-56
  </a>
</section>
