<section class="page-bg-pattern">
  <div class="page-content">
    <header class="page-header">
      <div class="page-header-badge">
        <mat-icon>article</mat-icon>
      </div>
      <h1>Блог адвоката</h1>
      <p class="page-intro">
        У блозі пенсійного адвоката ви знайдете роз’яснення з питань призначення
        та перерахунку пенсії, підтвердження стажу, індексації виплат і судової
        практики у спорах з Пенсійним фондом України.
      </p>
    </header>

    <div class="blog-stats">
      <div class="stat-item">
        <mat-icon>library_books</mat-icon>
        <span>{{ allBlogs.length }} статей</span>
      </div>
      <div class="stat-item">
        <mat-icon>play_circle</mat-icon>
        <span>Відео-версії</span>
      </div>
      <div class="stat-item">
        <mat-icon>update</mat-icon>
        <span>Регулярні оновлення</span>
      </div>
    </div>

    @if (hasCategorizedPosts()) {
      <div id="categories">
        <app-category-filter
          [categoryCounts]="categoryCounts()"
          [selectedCategory]="selectedCategory()"
          (categoryChange)="handleCategoryChange($event)"
        />
      </div>
    }

    <div class="blog-list-container">
      <ul class="blog-list">
        @for (blog of paginatedBlogs(); track blog.slug; let i = $index) {
          <li
            class="blog-item"
            [class.animate]="isInitialLoad()"
            [style.animation-delay.ms]="isInitialLoad() ? i * 80 : 0"
          >
            <a [routerLink]="['/blog', blog.slug]" class="blog-link">
              <div class="blog-icon-wrapper">
                <mat-icon>{{
                  blog.src[0] ? 'play_circle' : 'description'
                }}</mat-icon>
              </div>

              <div class="blog-content">
                <h2 class="blog-title">{{ blog.title }}</h2>
                @if (blog.description) {
                  <p class="blog-description">{{ blog.description }}</p>
                }
                <time class="blog-date" [attr.datetime]="blog.date">
                  <mat-icon>calendar_today</mat-icon>
                  {{ blog.date | date: 'dd MMMM yyyy' }}
                </time>
              </div>

              <div class="blog-arrow">
                <mat-icon>arrow_forward</mat-icon>
              </div>
            </a>
          </li>
        }
      </ul>

      <app-pagination
        [totalItems]="filteredBlogs().length"
        [pageIndex]="pageIndex()"
        [pageSize]="pageSize()"
        [pageSizeOptions]="pageSizeOptions"
        (pageChange)="handlePageChange($event)"
      />
    </div>
  </div>
</section>
