<app-header></app-header>

<app-navbar></app-navbar>

<router-outlet></router-outlet>
<!-- <section>
    <br />
    <br />
    <p style="margin: 0 auto; width: 75%">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt ab quos
      libero hic, tenetur cum temporibus ipsam labore fuga perspiciatis,
      doloremque iure rem ipsa nostrum necessitatibus dolorum. Quasi, sapiente
      ullam!
    </p>
    <p style="margin: 0 auto; width: 75%">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos
      exercitationem aliquam, dignissimos reiciendis tempore similique laborum
      maxime repellat deserunt, ipsum molestias ratione ducimus animi quaerat
      nemo rerum ut at saepe! Quos eius officia aut excepturi soluta error
      dolore vero quibusdam sapiente deserunt perferendis doloribus praesentium
      sequi modi nobis earum voluptate, laboriosam dolorum provident sunt sed
      voluptates placeat inventore. Saepe, esse! Expedita doloribus iusto, minus
      deserunt voluptatum esse vero laudantium aperiam labore consequuntur
      assumenda praesentium, debitis maxime. Voluptatibus expedita dolorum
      aliquam. Iure quasi minus facilis quae enim dicta nihil, sequi qui. Sit
      fugiat assumenda aliquid quisquam nisi veniam, cupiditate at ipsum quas
      commodi fugit modi aut similique consequuntur dolores sequi veritatis iure
      sunt atque. Maiores dignissimos veniam deserunt nesciunt placeat quidem.
      Similique, laboriosam mollitia eligendi a cumque accusamus odit, eius
      incidunt rem libero sint atque! Eum nam velit, optio placeat iure ab
      incidunt perferendis nihil dolore, quo voluptas quam neque qui. Temporibus
      possimus delectus blanditiis iste quod repudiandae neque ex tempora,
      explicabo officiis. Tenetur officia doloribus, obcaecati odio laborum
      eligendi cum asperiores repellat iure ex minus voluptas reprehenderit
      possimus animi ipsam? Magni exercitationem velit obcaecati necessitatibus
      atque? Molestiae facere ea recusandae nulla deserunt unde ducimus.
      Repellat, illum! Aliquid quam natus dolor dolorem, nihil saepe
      reprehenderit optio, recusandae eveniet, amet iure ut? Laborum iste
      incidunt dolorem esse tempore soluta veritatis et odit. Vel officiis quam
      at aliquam eveniet perspiciatis doloribus magni voluptas enim numquam
      consequatur error porro incidunt ipsum deserunt, deleniti inventore!
      Minima at natus itaque sapiente quod perspiciatis eos, sit recusandae
      repellendus optio nemo corrupti voluptatum temporibus similique quasi, in
      quaerat libero porro nulla consequuntur tenetur! Perferendis cupiditate
      maxime neque impedit? Harum esse corporis repudiandae vel. Inventore
      commodi cupiditate recusandae laborum? Consequatur quibusdam explicabo,
      totam reiciendis quis ipsa aliquam suscipit similique rem, excepturi
      velit, beatae hic fugiat veniam atque eligendi! Dolor. Nemo,
      necessitatibus esse. Distinctio, consequatur! Ex possimus aperiam quia
      consequuntur itaque. Optio doloremque nobis obcaecati delectus error sed
      corporis aspernatur, facere atque consectetur dolorem debitis omnis
      repellat hic quis ipsam. Dolore quos cum velit numquam! Facilis,
      exercitationem. Deleniti, dolores eligendi temporibus itaque quidem ut
      recusandae ipsam non suscipit corporis amet exercitationem deserunt quae
      nemo iusto, qui beatae perferendis quibusdam doloribus! Repellat
      aspernatur vel nisi debitis consectetur molestiae. Minus ratione
      laboriosam voluptate consectetur omnis saepe. Necessitatibus, aliquid
      tempore. Reiciendis suscipit, autem sapiente esse repudiandae fugit at
      accusamus deleniti velit dolorum non. Doloribus labore nihil consequatur
      ratione recusandae laudantium ex sed molestias alias quidem ullam quasi
      harum omnis obcaecati ab fuga repellendus magni, vitae suscipit nobis.
      Hic, dolorum. Dicta laudantium sint tempora! Amet expedita dolore illo
      distinctio quibusdam id blanditiis iste earum accusantium, tenetur
      doloremque totam. Natus atque pariatur illo perspiciatis? Suscipit nemo et
      consequuntur nobis nostrum at maiores odit saepe dolorem. Officia, sit
      quam nobis corrupti odio nam blanditiis accusantium quasi, iusto
      doloremque sequi alias mollitia magni praesentium in incidunt maiores aut.
      A aliquid earum deleniti reprehenderit corrupti error. Aliquam, nemo.
      Provident quidem iure saepe magnam modi doloremque nemo earum veniam est
      id quo ratione blanditiis aperiam ut aliquam cum explicabo autem,
      asperiores, impedit sint ducimus, at dicta! Odio, nemo iusto. Quibusdam
      cum laboriosam quidem recusandae consequatur ratione? Reprehenderit
      inventore corporis illo nostrum eius omnis nesciunt asperiores, tempora
      porro eveniet repudiandae fuga officiis a voluptas quisquam velit minus
      minima voluptates ab! Expedita beatae, id at animi nisi nihil qui in
      consequuntur quidem quae dolor sapiente neque iste soluta minus blanditiis
      molestiae illo rerum temporibus possimus magni optio! Quae magni doloribus
      natus? Minima, natus? Quidem placeat ut quo odit, animi et vitae velit
      dolore distinctio eveniet ullam libero corrupti consequatur eum totam
      voluptate iusto? Ab, harum. Nam ea quaerat fugit corporis dicta?
    </p>
  </section> -->

<!--<footer>
  <section id="contacts">
    <h2>Контакти</h2>
    <p>Телефон: +38 (099) 942-60-56</p>
    <p>Email: example&#64;email.com</p>
    <div class="social-icons">
      <a href="#"><img src="fb-icon.png" alt="Facebook" /></a>
      <a href="#"><img src="insta-icon.png" alt="Instagram" /></a>
      <a href="#"><img src="telegram-icon.png" alt="Telegram" /></a>
      <a href="#"><img src="viber-icon.png" alt="Viber" /></a>
    </div>
  </section>
  <p>&copy; 2025 Адвокат Подзюба Юлія Юріївна. Всі права захищені.</p>
</footer> -->
