<h1 class="main-title">Послуги</h1>

<div class="services-container">
  @for (category of serviceCategories; track category.name) {
    <section class="service-category">
      <h2 class="category-title">{{ category.name }}</h2>

      <div class="list">
        @for (item of category.items; track item.title) {
          <div class="listitem">
            <div class="icon-container">
              <mat-icon svgIcon="{{ item.icon }}"></mat-icon>
            </div>

            <span class="listitem-text">{{ item.title }}</span>
          </div>
        }
      </div>
    </section>
  }
</div>
