:host {
  display: block;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.main-title {
  text-align: center;
}

.services-container {
  display: flex;
  gap: 2rem;
  max-width: var(--container-max-width);
  border-radius: 0.5rem;
  border: 1px solid var(--color-green);
  box-shadow: var(--color-green) 0 0 0.25rem;
  background-color: #bb925c1c;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;

  /* background-color: #edeeef; */
  /* box-shadow:
    rgba(0, 39, 6, 0.4) 0px 0px 0px 2px,
    rgba(0, 39, 6, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
  background-image: linear-gradient(
    109.6deg,
    rgba(204, 228, 247, 1) 11.2%,
    rgba(237, 246, 250, 1) 100.2%
  );

  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  background-image: linear-gradient(
    to top,
    rgba(230, 233, 240, 0.8) 0%,
    rgba(238, 241, 245, 0.8) 100%
  );
}

.service-category {
  flex: 1;
}

.category-title {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.listitem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-green);
  background-color: var(--color-white);
  /* border-bottom: 1px solid var(--color-green); */
  box-shadow: #0027062b 0px 3px 0px 2px;
  /* width: fit-content; */
  border-radius: 0.25rem;
  background: linear-gradient(
    180deg,
    rgba(0, 39, 6, 0.1) 0%,
    rgba(187, 146, 92, 0.1) 100%
  );

  background-image: linear-gradient(
    109.6deg,
    rgba(204, 228, 247, 1) 11.2%,
    rgba(237, 246, 250, 1) 100.2%
  );
}

.icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

mat-icon {
  width: 30px;
  height: auto;
}

.listitem-text {
  flex: auto;
}

@media (max-width: 800px) {
  :host {
    padding: 1rem 0 0;
  }

  .services-container {
    flex-direction: column;
    gap: 2.5rem;
    border-radius: 0;
    border: 1px solid var(--color-green);
    box-shadow: none;
    padding: 0.5rem 2rem 2rem;
  }

  .list {
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  .services-container {
    background-image: linear-gradient(
      to top,
      rgba(230, 233, 240, 0.5) 0%,
      rgb(238 241 245 / 50%) 100%
    );
    padding: 0.5rem 1rem 2rem;
  }

  .icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  mat-icon {
    width: 30px;
    height: auto;
  }

  .listitem-text {
    flex: auto;
  }
}
