:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.documents-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  /* border: 0.1px solid var(--color-green); */
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  box-shadow: #00270626 0 0 0.25rem;
  position: relative;
  /* background: #00270626; */
}

.education-logo {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 120px;
  height: auto;
  filter: opacity(0.5);
  z-index: -1;
}

/* .documents-item-container--education {
  background: url('/assets/icons/nlu-logo.webp') no-repeat bottom right;
  filter: grayscale(100%);
} */

.documents-item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.documents-item-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.document-images {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.document-images-item {
  height: 200px;
  border: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  padding: 0;
}
