<!-- <section class="education-container">
  <div>
    <p>
      2010-2014 роки - навчання для здобуття ступеня бакалавра в НЮУ імені
      Ярослава Мудрого
    </p>

    <gallery gallerize [items]="bachelorImages"></gallery>
  </div>

  <div>
    <p>
      2014-2015 роки - навчання для здобуття ступеня магістра в НЮУ імені
      Ярослава Мудрого
    </p>

    <gallery gallerize [items]="images"></gallery>
  </div>
</section> -->

<section class="documents-container">
  <section class="documents-item-container">
    <h6 class="documents-item-title">Моя освіта</h6>

    <p>
      2010-2014 роки - навчання для здобуття ступеня бакалавра в НЮУ імені
      Ярослава Мудрого
    </p>

    <div class="document-images">
      @for (item of bachelorImages; track item; let i = $index) {
        <button
          class="document-images-item"
          [lightbox]="i"
          [gallery]="galleryId"
        >
          <img
            class="document-images-image"
            loading="lazy"
            [src]="item.data!.thumb"
          />
        </button>
      }
    </div>
  </section>
</section>
